*{
    margin: 0;
    padding: 0;
}

h1{
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 20px;
}

.container{
    width: 70vw;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.container button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.reset{
    text-align: center;
    margin-top: 20px;    
}

.reset button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}